* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #141414;
    color: white;
    line-height: 1.6;
}

/* ===== Header ===== */
header {
    background-color: rgba(139, 0, 0, 0.7);
    color: #FAFAFA;
    padding: 20px 0;
    position: sticky;
    top: 0;

    backdrop-filter: blur(2px);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;

}

nav ul li a:hover,
nav ul li a.active {
    transform: scale(1.06);
    color: rgba(255, 0, 0, 0.6);
}

/* ===== Menu Section ===== */
.menu {
    text-align: center;
    padding: 80px 20px;
}

.menu h1 {
    font-size: 2.8rem;
    color: rgba(255, 0, 0, 0.8);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.menu p {
    font-size: 1.1rem;
    margin: 10px 0 40px;
    color: #ccc;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.menu-item {
    background: #1a1a1a;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(255, 0, 0, 0.5);
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.menu-item h3 {
    color: #ff2e63;
    margin: 15px 0 5px;
}

.menu-item p {
    color: #aaa;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.menu-item span {
    display: inline-block;
    background: #ff2e63;
    color: white;
    padding: 5px 12px;
    border-radius: 12px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* ===== Footer ===== */
footer {
    text-align: center;
    background: black;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    margin-top: 50px;
}

/* ===== Responsive ===== */
@media(max-width:768px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }
}