* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #141414;
    color: white;
    line-height: 1.6;
}

/* ===== Header ===== */
header {
    background-color: rgba(139, 0, 0, 0.7);
    color: #FAFAFA;
    padding: 20px 0;
    position: sticky;
    top: 0;

    backdrop-filter: blur(2px);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;

}

nav ul li a:hover,
nav ul li a.active {
    transform: scale(1.06);
    color: rgba(255, 0, 0, 0.6);
}


/* ===== Menu Section ===== */

.menu {
    padding: 60px 20px;
    background: #fef9f4;
    text-align: center;
}

.menu h2 {
    font-size: 2.8rem;
    margin-bottom: 50px;
    color: #222;
    font-weight: 600;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.menu-card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.menu-card h3 {
    margin: 15px 0 10px;
    font-size: 1.3rem;
    color: #333;
}

.menu-card p {
    font-size: 0.9rem;
    color: #666;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 15px;
}

.menu-card button {
    background-color: #b22222;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-card button:hover{
    background:  #8b0000;
    transform: scale(1.3);
}