* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #141414;
    color: white;
    line-height: 1.6;
}

/* ===== Header ===== */
header {
    background-color: rgba(139, 0, 0, 0.7);
    color: #FAFAFA;
    padding: 20px 0;
    position: sticky;
    top: 0;

    backdrop-filter: blur(2px);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;

}

nav ul li a:hover,
nav ul li a.active {
    transform: scale(1.06);
    color: rgba(255, 0, 0, 0.6);
}


